.nav-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 22px;
    align-items: center;
    color:black;
    /* background-color: rgb(170, 248, 251); */
    background: rgb(112, 172, 112);
    height: 12vh;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 4px 4px grey;
    z-index: 10;
}

.frog-header-img {
    height: 11.5vh;
    filter: contrast(90%);
}

.frog-link {
    display: flex;
    align-items: center;
}

.nav-title {
    color: rgb(237, 237, 237);
    text-shadow: 0 1px 0 #17202A, 0 2px 0 #17202A,
    0 7px 0 #17202A, 0 8px 0 #17202A;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    
    /* flex-grow: 1;
    flex-basis: 0; */
}

.home-link {
    font-size: larger;
}

.nav-link {
    font-size: medium;
}

.right-links {
    display: flex;
    justify-content: end;
    width: 200px;
    font-size: 20px;
    right: 0;
}

a {
    color: black;
}



