.posts-index-feed {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    padding: 5vh;
    gap: 4px;
}

.posts-index-list-container {
    width: 100vh; /* container width */
    height: 70vh; 
    overflow: auto; /* scroll when content goes outside borders */
    border: 1px solid #ccc; 
    padding: 10px; 
    background-color: rgb(191, 241, 191);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.post-index-block {
    border-bottom: 1px solid grey; 
    background-color: rgb(230, 255, 230);
    margin: 1px; 
    padding: 10px; 
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
}