.friends-index {
    display: flex;
    gap: 10vh;
    padding: 10vh;
    justify-content: center;
}

.friends-list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    overflow: auto;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    gap: 1vh;
    background-color: rgb(177, 227, 177);
    box-shadow: 3px 3px 3px grey;
}

.posts-index-list-container {
    width: 100vh; /* container width */
    height: 70vh; 
    overflow: auto; /* scroll when content goes outside borders */
    border: 1px solid #ccc; 
    padding: 10px; 
    background-color: rgb(191, 241, 191);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.friends-list {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.user-box {
    display: flex;
    align-items: center;
    gap: 2vh;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(119, 174, 119);
    padding: 3px;
}

.user-info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vh;
    padding: 3px;
}

.suggested-friends-sidebar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center; 
    height: 70vh;
    overflow: auto;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px; 
    background-color: rgb(177, 227, 177);
    box-shadow: 3px 3px 3px grey;
}

.suggested-friends-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* align-items: center; */
}

.suggested-list-item {
    /* justify-content: space-between; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.user-info-box { 
    display: flex; 
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    width: 85%;
    background-color: rgb(119, 174, 119);
}

.display-picture {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    object-fit: fill;
    box-shadow: 3px 3px 3px rgb(161, 161, 161);
}
