.registration-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    padding-top: 7vh;
    gap: 10px;
}

.form-outline {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(195, 253, 189);
    gap: 5px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.guest-block {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(124, 255, 109);;
}

.register-page-link {
    color: blue;
}

