* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bfd9c4;
}

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;

  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #4ea959; /* Facebook blue */
  color: white;
  border: none;
  border-radius: 3px; /* Slightly rounded corners */
  padding: 10px 15px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: background-color 0.2s ease; /* Smooth hover effect */
}

button:hover {
  background-color: #4c7445; /* Darker blue on hover */
}

button:active {
  background-color: #23632a; /* Even darker blue on click */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2); /* Inset shadow on click */
}

